registry=https://pkgs.dev.azure.com/influentco/_packaging/influent/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/influentco/_packaging/influent/npm/registry/:username=influentco
//pkgs.dev.azure.com/influentco/_packaging/influent/npm/registry/:_password=${B64_PAT}
//pkgs.dev.azure.com/influentco/_packaging/influent/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/influentco/_packaging/influent/npm/:username=influentco
//pkgs.dev.azure.com/influentco/_packaging/influent/npm/:_password=${B64_PAT}
//pkgs.dev.azure.com/influentco/_packaging/influent/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
