.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: inline-flex;
    flex-direction: column;
    width: auto;
    height: auto;
    min-height: none;
    max-height: none;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__xzMg8 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__xzMg8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__xzMg8 > :global(.__wab_flex-container) > *,
.freeBox__xzMg8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xzMg8 > :global(.__wab_flex-container) > picture > img,
.freeBox__xzMg8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xzMg8 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xzMg8 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xzMg8 > :global(.__wab_flex-container) > *,
  .freeBox__xzMg8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xzMg8 > :global(.__wab_flex-container) > picture > img,
  .freeBox__xzMg8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.freeBox__qZqxl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
.text___4S7SY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #3a1772;
  font-family: "Lobster";
  font-size: 36px;
  padding-left: 35px;
  padding-right: 35px;
  background: #ffffff99;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  min-width: 0;
  border: 1px solid #b0b0b0;
}
.freeBox__xVvIz {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff66;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  min-width: 0;
  min-height: 0;
  padding: 4px 10px 20px;
  border: 1px solid #cdcdcd;
}
.freeBox__xVvIz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__xVvIz > :global(.__wab_flex-container) > *,
.freeBox__xVvIz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xVvIz > :global(.__wab_flex-container) > picture > img,
.freeBox__xVvIz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.name2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  min-width: 0;
}
.portrait {
  position: relative;
  object-fit: cover;
  width: 360px;
  height: auto;
}
.portrait > picture > img {
  object-fit: cover;
}
.portrait > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__a0Z6P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a0Z6P {
    min-width: none;
  }
}
.text__qlsj0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #3a1772;
  font-family: "Lobster";
  font-size: 36px;
  padding-left: 25px;
  padding-right: 25px;
  background: #ffffff99;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  min-width: 0;
  border: 1px solid #b0b0b0;
}
.freeBox__wsBUg {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  background: #ffffff66;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 4px 10px 20px;
  border: 1px solid #cdcdcd;
}
.freeBox__wsBUg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.freeBox__wsBUg > :global(.__wab_flex-container) > *,
.freeBox__wsBUg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wsBUg > :global(.__wab_flex-container) > picture > img,
.freeBox__wsBUg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 3px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wsBUg {
    min-height: 200px;
  }
}
.freeBox__ei87L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__tdFaz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
}
.name {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: right;
  color: #000000;
  min-width: 0;
}
.freeBox__weNhe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__wxhQq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
}
.age {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  color: #000000;
}
.freeBox__oVoEg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__e8LmU {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
}
.gender {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  color: #000000;
}
.freeBox___00D1A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__whZzI {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
}
.height {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  color: #000000;
}
.freeBox__egdF2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__duMb9 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
}
.height2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  color: #000000;
}
.text__km0AH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  color: #000000;
  min-width: 0;
}
.descriptionBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .descriptionBox {
    min-height: 250px;
  }
}
.freeBox__k65Lv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__k65Lv {
    min-width: none;
  }
}
.text__f71NC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #3a1772;
  font-family: "Lobster";
  font-size: 36px;
  padding-left: 15px;
  padding-right: 15px;
  background: #ffffff99;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  min-width: 0;
  border: 1px solid #b0b0b0;
}
.freeBox__jNce {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  background: #ffffff66;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 4px 10px 20px;
  border: 1px solid #cdcdcd;
}
.freeBox__jNce > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__jNce > :global(.__wab_flex-container) > *,
.freeBox__jNce > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jNce > :global(.__wab_flex-container) > picture > img,
.freeBox__jNce
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jNce {
    min-height: 200px;
  }
}
.freeBox___0Amtv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__wzNdC {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
}
.str {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  font-weight: 700;
  color: #000000;
}
.freeBox__bro2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__iysR {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
}
.dex {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  font-weight: 700;
  color: #000000;
}
.freeBox___7DO9V {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__rbEcr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
}
.con {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  font-weight: 700;
  color: #000000;
}
.freeBox__xd8Z {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__yrBfm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
}
.int {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  font-weight: 700;
  color: #000000;
}
.freeBox__kTC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__ujDCk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
}
.wis {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  font-weight: 700;
  color: #000000;
}
.freeBox__oYw4I {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__lc9M1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
}
.cha {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  font-weight: 700;
  color: #000000;
}
.freeBox__oUpr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__xm5Vq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
}
.alignment {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  font-weight: 700;
  color: #000000;
}
.freeBox__avm06 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__nkXpM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
}
.job {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: right;
  font-weight: 700;
  color: #000000;
}
.freeBox___5MIzb {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox___5MIzb > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___5MIzb > :global(.__wab_flex-container) > *,
.freeBox___5MIzb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5MIzb > :global(.__wab_flex-container) > picture > img,
.freeBox___5MIzb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5MIzb {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5MIzb > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5MIzb > :global(.__wab_flex-container) > *,
  .freeBox___5MIzb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5MIzb > :global(.__wab_flex-container) > picture > img,
  .freeBox___5MIzb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.freeBox__sfkWu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.text__hLcdf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #3a1772;
  font-family: "Lobster";
  font-size: 36px;
  padding-left: 20px;
  padding-right: 20px;
  background: #ffffff99;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  min-width: 0;
  border: 1px solid #b0b0b0;
}
.personalityBox {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff66;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  min-width: 0;
  min-height: 0;
  padding: 4px 10px 20px;
  border: 1px solid #cdcdcd;
}
.personalityBox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.personalityBox > :global(.__wab_flex-container) > *,
.personalityBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.personalityBox > :global(.__wab_flex-container) > picture > img,
.personalityBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .personalityBox {
    min-height: 400px;
  }
}
.freeBox___9KwLw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.text__yKqnL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #3a1772;
  font-family: "Lobster";
  font-size: 36px;
  padding-left: 20px;
  padding-right: 20px;
  background: #ffffff99;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  min-width: 0;
  border: 1px solid #b0b0b0;
}
.historyBox {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff66;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  min-width: 0;
  min-height: 0;
  padding: 4px 10px 20px;
  border: 1px solid #cdcdcd;
}
.historyBox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.historyBox > :global(.__wab_flex-container) > *,
.historyBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.historyBox > :global(.__wab_flex-container) > picture > img,
.historyBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .historyBox {
    min-height: 400px;
  }
}
.freeBox__kfAkb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 170px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kfAkb {
    width: 100%;
    max-width: none;
    min-width: 0;
  }
}
.text__zZXii {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #3a1772;
  font-family: "Lobster";
  font-size: 36px;
  padding-left: 15px;
  padding-right: 15px;
  background: #ffffff99;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-align: center;
  white-space: pre;
  min-width: 0;
  border: 1px solid #b0b0b0;
}
.plotBox {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff66;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  min-width: 0;
  min-height: 0;
  padding: 4px 10px 20px;
  border: 1px solid #cdcdcd;
}
.plotBox > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.plotBox > :global(.__wab_flex-container) > *,
.plotBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.plotBox > :global(.__wab_flex-container) > picture > img,
.plotBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .plotBox {
    min-height: 50px;
  }
}
