@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Elsie+Swash+Caps%3Aital%2Cwght%400%2C400%3B0%2C900&family=Lobster%3Aital%2Cwght%400%2C400&display=swap");

.plasmic_default_styles {
  --mixin-xXuVvrc-OEIl_font-family: "Inter", sans-serif;
  --mixin-xXuVvrc-OEIl_font-size: 16px;
  --mixin-xXuVvrc-OEIl_font-weight: 400;
  --mixin-xXuVvrc-OEIl_font-style: normal;
  --mixin-xXuVvrc-OEIl_color: #535353;
  --mixin-xXuVvrc-OEIl_text-align: left;
  --mixin-xXuVvrc-OEIl_text-transform: none;
  --mixin-xXuVvrc-OEIl_line-height: 1.5;
  --mixin-xXuVvrc-OEIl_letter-spacing: normal;
  --mixin-xXuVvrc-OEIl_white-space: pre-wrap;
  --mixin-xXuVvrc-OEIl_user-select: text;
  --mixin-xXuVvrc-OEIl_text-decoration-line: none;
  --mixin-xXuVvrc-OEIl_text-overflow: clip;
  --mixin-K9TD7NtiM_bw_color: #000000;
  --mixin-K9TD7NtiM_bw_font-weight: 900;
  --mixin-K9TD7NtiM_bw_font-size: 72px;
  --mixin-K9TD7NtiM_bw_line-height: 1;
  --mixin-K9TD7NtiM_bw_letter-spacing: -4px;
  --mixin-K9TD7NtiM_bw_white-space: pre-wrap;
  --mixin-X2pYRaM_vB2I_color: #000000;
  --mixin-X2pYRaM_vB2I_font-size: 48px;
  --mixin-X2pYRaM_vB2I_font-weight: 700;
  --mixin-X2pYRaM_vB2I_letter-spacing: -1px;
  --mixin-X2pYRaM_vB2I_line-height: 1.1;
  --mixin-X2pYRaM_vB2I_white-space: pre-wrap;
  --mixin-rBVOqO6hgUd5_color: #0070f3;
  --mixin-rBVOqO6hgUd5_white-space: pre-wrap;
  --mixin-Nkw-9zeHrLTQ_color: #000000;
  --mixin-Nkw-9zeHrLTQ_font-size: 32px;
  --mixin-Nkw-9zeHrLTQ_font-weight: 600;
  --mixin-Nkw-9zeHrLTQ_letter-spacing: -0.8px;
  --mixin-Nkw-9zeHrLTQ_line-height: 1.2;
  --mixin-Nkw-9zeHrLTQ_white-space: pre-wrap;
  --mixin-AI6EOkGCUzcx_color: #000000;
  --mixin-AI6EOkGCUzcx_font-size: 24px;
  --mixin-AI6EOkGCUzcx_font-weight: 600;
  --mixin-AI6EOkGCUzcx_letter-spacing: -0.5px;
  --mixin-AI6EOkGCUzcx_line-height: 1.3;
  --mixin-AI6EOkGCUzcx_white-space: pre-wrap;
  --mixin-EiEXeXx616cu_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-EiEXeXx616cu_border-bottom-color: #dddddd;
  --mixin-EiEXeXx616cu_border-bottom-style: solid;
  --mixin-EiEXeXx616cu_border-bottom-width: 1px;
  --mixin-EiEXeXx616cu_border-left-color: #dddddd;
  --mixin-EiEXeXx616cu_border-left-style: solid;
  --mixin-EiEXeXx616cu_border-left-width: 1px;
  --mixin-EiEXeXx616cu_border-right-color: #dddddd;
  --mixin-EiEXeXx616cu_border-right-style: solid;
  --mixin-EiEXeXx616cu_border-right-width: 1px;
  --mixin-EiEXeXx616cu_border-top-color: #dddddd;
  --mixin-EiEXeXx616cu_border-top-style: solid;
  --mixin-EiEXeXx616cu_border-top-width: 1px;
  --mixin-EiEXeXx616cu_border-bottom-left-radius: 3px;
  --mixin-EiEXeXx616cu_border-bottom-right-radius: 3px;
  --mixin-EiEXeXx616cu_border-top-left-radius: 3px;
  --mixin-EiEXeXx616cu_border-top-right-radius: 3px;
  --mixin-EiEXeXx616cu_font-family: "Inconsolata";
  --mixin-EiEXeXx616cu_padding-bottom: 1px;
  --mixin-EiEXeXx616cu_padding-left: 4px;
  --mixin-EiEXeXx616cu_padding-right: 4px;
  --mixin-EiEXeXx616cu_padding-top: 1px;
  --mixin-EiEXeXx616cu_white-space: pre-wrap;
  --mixin-nHBvC6Xr5Je0_border-left-color: #dddddd;
  --mixin-nHBvC6Xr5Je0_border-left-style: solid;
  --mixin-nHBvC6Xr5Je0_border-left-width: 3px;
  --mixin-nHBvC6Xr5Je0_color: #888888;
  --mixin-nHBvC6Xr5Je0_padding-left: 10px;
  --mixin-nHBvC6Xr5Je0_white-space: pre-wrap;
  --mixin-8SvzqJlM6pE4_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-8SvzqJlM6pE4_border-bottom-color: #dddddd;
  --mixin-8SvzqJlM6pE4_border-bottom-style: solid;
  --mixin-8SvzqJlM6pE4_border-bottom-width: 1px;
  --mixin-8SvzqJlM6pE4_border-left-color: #dddddd;
  --mixin-8SvzqJlM6pE4_border-left-style: solid;
  --mixin-8SvzqJlM6pE4_border-left-width: 1px;
  --mixin-8SvzqJlM6pE4_border-right-color: #dddddd;
  --mixin-8SvzqJlM6pE4_border-right-style: solid;
  --mixin-8SvzqJlM6pE4_border-right-width: 1px;
  --mixin-8SvzqJlM6pE4_border-top-color: #dddddd;
  --mixin-8SvzqJlM6pE4_border-top-style: solid;
  --mixin-8SvzqJlM6pE4_border-top-width: 1px;
  --mixin-8SvzqJlM6pE4_border-bottom-left-radius: 3px;
  --mixin-8SvzqJlM6pE4_border-bottom-right-radius: 3px;
  --mixin-8SvzqJlM6pE4_border-top-left-radius: 3px;
  --mixin-8SvzqJlM6pE4_border-top-right-radius: 3px;
  --mixin-8SvzqJlM6pE4_font-family: "Inconsolata";
  --mixin-8SvzqJlM6pE4_padding-bottom: 3px;
  --mixin-8SvzqJlM6pE4_padding-left: 6px;
  --mixin-8SvzqJlM6pE4_padding-right: 6px;
  --mixin-8SvzqJlM6pE4_padding-top: 3px;
  --mixin-8SvzqJlM6pE4_white-space: pre-wrap;
  --mixin-yaXGzwu2Zsbd_display: flex;
  --mixin-yaXGzwu2Zsbd_flex-direction: column;
  --mixin-yaXGzwu2Zsbd_align-items: stretch;
  --mixin-yaXGzwu2Zsbd_justify-content: flex-start;
  --mixin-yaXGzwu2Zsbd_list-style-position: outside;
  --mixin-yaXGzwu2Zsbd_padding-left: 40px;
  --mixin-yaXGzwu2Zsbd_position: relative;
  --mixin-yaXGzwu2Zsbd_list-style-type: disc;
  --mixin-yaXGzwu2Zsbd_white-space: pre-wrap;
  --mixin-eTHUTBcKeaCaS_display: flex;
  --mixin-eTHUTBcKeaCaS_flex-direction: column;
  --mixin-eTHUTBcKeaCaS_align-items: stretch;
  --mixin-eTHUTBcKeaCaS_justify-content: flex-start;
  --mixin-eTHUTBcKeaCaS_list-style-position: outside;
  --mixin-eTHUTBcKeaCaS_padding-left: 40px;
  --mixin-eTHUTBcKeaCaS_position: relative;
  --mixin-eTHUTBcKeaCaS_list-style-type: decimal;
  --mixin-eTHUTBcKeaCaS_white-space: pre-wrap;
  --mixin-ijdH3P3WfI5PU_color: #000000;
  --mixin-ijdH3P3WfI5PU_font-size: 20px;
  --mixin-ijdH3P3WfI5PU_font-weight: 600;
  --mixin-ijdH3P3WfI5PU_letter-spacing: -0.3px;
  --mixin-ijdH3P3WfI5PU_line-height: 1.5;
  --mixin-ijdH3P3WfI5PU_white-space: pre-wrap;
  --mixin-PUy55YliBECbR_color: #000000;
  --mixin-PUy55YliBECbR_font-size: 16px;
  --mixin-PUy55YliBECbR_font-weight: 600;
  --mixin-PUy55YliBECbR_line-height: 1.5;
  --mixin-PUy55YliBECbR_white-space: pre-wrap;
  --mixin-8N2SwqRaI6YIt_color: #3291ff;
  --mixin-8N2SwqRaI6YIt_white-space: pre-wrap;
  --mixin-g7G9VX0O7vRyp_white-space: pre-wrap;
  --mixin-0oX6YlTGwXeTu_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-xXuVvrc-OEIl_font-family);
  font-size: var(--mixin-xXuVvrc-OEIl_font-size);
  font-weight: var(--mixin-xXuVvrc-OEIl_font-weight);
  font-style: var(--mixin-xXuVvrc-OEIl_font-style);
  color: var(--mixin-xXuVvrc-OEIl_color);
  text-align: var(--mixin-xXuVvrc-OEIl_text-align);
  text-transform: var(--mixin-xXuVvrc-OEIl_text-transform);
  line-height: var(--mixin-xXuVvrc-OEIl_line-height);
  letter-spacing: var(--mixin-xXuVvrc-OEIl_letter-spacing);
  white-space: var(--mixin-xXuVvrc-OEIl_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-K9TD7NtiM_bw_color);
  font-weight: var(--mixin-K9TD7NtiM_bw_font-weight);
  font-size: var(--mixin-K9TD7NtiM_bw_font-size);
  line-height: var(--mixin-K9TD7NtiM_bw_line-height);
  letter-spacing: var(--mixin-K9TD7NtiM_bw_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-X2pYRaM_vB2I_color);
  font-size: var(--mixin-X2pYRaM_vB2I_font-size);
  font-weight: var(--mixin-X2pYRaM_vB2I_font-weight);
  letter-spacing: var(--mixin-X2pYRaM_vB2I_letter-spacing);
  line-height: var(--mixin-X2pYRaM_vB2I_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-rBVOqO6hgUd5_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-Nkw-9zeHrLTQ_color);
  font-size: var(--mixin-Nkw-9zeHrLTQ_font-size);
  font-weight: var(--mixin-Nkw-9zeHrLTQ_font-weight);
  letter-spacing: var(--mixin-Nkw-9zeHrLTQ_letter-spacing);
  line-height: var(--mixin-Nkw-9zeHrLTQ_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-AI6EOkGCUzcx_color);
  font-size: var(--mixin-AI6EOkGCUzcx_font-size);
  font-weight: var(--mixin-AI6EOkGCUzcx_font-weight);
  letter-spacing: var(--mixin-AI6EOkGCUzcx_letter-spacing);
  line-height: var(--mixin-AI6EOkGCUzcx_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-EiEXeXx616cu_font-family);
  border-radius: var(--mixin-EiEXeXx616cu_border-top-left-radius)
    var(--mixin-EiEXeXx616cu_border-top-right-radius)
    var(--mixin-EiEXeXx616cu_border-bottom-right-radius)
    var(--mixin-EiEXeXx616cu_border-bottom-left-radius);
  padding: var(--mixin-EiEXeXx616cu_padding-top)
    var(--mixin-EiEXeXx616cu_padding-right)
    var(--mixin-EiEXeXx616cu_padding-bottom)
    var(--mixin-EiEXeXx616cu_padding-left);
  border-top: var(--mixin-EiEXeXx616cu_border-top-width)
    var(--mixin-EiEXeXx616cu_border-top-style)
    var(--mixin-EiEXeXx616cu_border-top-color);
  border-right: var(--mixin-EiEXeXx616cu_border-right-width)
    var(--mixin-EiEXeXx616cu_border-right-style)
    var(--mixin-EiEXeXx616cu_border-right-color);
  border-bottom: var(--mixin-EiEXeXx616cu_border-bottom-width)
    var(--mixin-EiEXeXx616cu_border-bottom-style)
    var(--mixin-EiEXeXx616cu_border-bottom-color);
  border-left: var(--mixin-EiEXeXx616cu_border-left-width)
    var(--mixin-EiEXeXx616cu_border-left-style)
    var(--mixin-EiEXeXx616cu_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-nHBvC6Xr5Je0_color);
  padding-left: var(--mixin-nHBvC6Xr5Je0_padding-left);
  border-left: var(--mixin-nHBvC6Xr5Je0_border-left-width)
    var(--mixin-nHBvC6Xr5Je0_border-left-style)
    var(--mixin-nHBvC6Xr5Je0_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-8SvzqJlM6pE4_font-family);
  border-radius: var(--mixin-8SvzqJlM6pE4_border-top-left-radius)
    var(--mixin-8SvzqJlM6pE4_border-top-right-radius)
    var(--mixin-8SvzqJlM6pE4_border-bottom-right-radius)
    var(--mixin-8SvzqJlM6pE4_border-bottom-left-radius);
  padding: var(--mixin-8SvzqJlM6pE4_padding-top)
    var(--mixin-8SvzqJlM6pE4_padding-right)
    var(--mixin-8SvzqJlM6pE4_padding-bottom)
    var(--mixin-8SvzqJlM6pE4_padding-left);
  border-top: var(--mixin-8SvzqJlM6pE4_border-top-width)
    var(--mixin-8SvzqJlM6pE4_border-top-style)
    var(--mixin-8SvzqJlM6pE4_border-top-color);
  border-right: var(--mixin-8SvzqJlM6pE4_border-right-width)
    var(--mixin-8SvzqJlM6pE4_border-right-style)
    var(--mixin-8SvzqJlM6pE4_border-right-color);
  border-bottom: var(--mixin-8SvzqJlM6pE4_border-bottom-width)
    var(--mixin-8SvzqJlM6pE4_border-bottom-style)
    var(--mixin-8SvzqJlM6pE4_border-bottom-color);
  border-left: var(--mixin-8SvzqJlM6pE4_border-left-width)
    var(--mixin-8SvzqJlM6pE4_border-left-style)
    var(--mixin-8SvzqJlM6pE4_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-yaXGzwu2Zsbd_display);
  flex-direction: var(--mixin-yaXGzwu2Zsbd_flex-direction);
  align-items: var(--mixin-yaXGzwu2Zsbd_align-items);
  justify-content: var(--mixin-yaXGzwu2Zsbd_justify-content);
  list-style-position: var(--mixin-yaXGzwu2Zsbd_list-style-position);
  padding-left: var(--mixin-yaXGzwu2Zsbd_padding-left);
  position: var(--mixin-yaXGzwu2Zsbd_position);
  list-style-type: var(--mixin-yaXGzwu2Zsbd_list-style-type);
  flex-column-gap: var(--mixin-yaXGzwu2Zsbd_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-eTHUTBcKeaCaS_display);
  flex-direction: var(--mixin-eTHUTBcKeaCaS_flex-direction);
  align-items: var(--mixin-eTHUTBcKeaCaS_align-items);
  justify-content: var(--mixin-eTHUTBcKeaCaS_justify-content);
  list-style-position: var(--mixin-eTHUTBcKeaCaS_list-style-position);
  padding-left: var(--mixin-eTHUTBcKeaCaS_padding-left);
  position: var(--mixin-eTHUTBcKeaCaS_position);
  list-style-type: var(--mixin-eTHUTBcKeaCaS_list-style-type);
  flex-column-gap: var(--mixin-eTHUTBcKeaCaS_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-ijdH3P3WfI5PU_color);
  font-size: var(--mixin-ijdH3P3WfI5PU_font-size);
  font-weight: var(--mixin-ijdH3P3WfI5PU_font-weight);
  letter-spacing: var(--mixin-ijdH3P3WfI5PU_letter-spacing);
  line-height: var(--mixin-ijdH3P3WfI5PU_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-PUy55YliBECbR_color);
  font-size: var(--mixin-PUy55YliBECbR_font-size);
  font-weight: var(--mixin-PUy55YliBECbR_font-weight);
  line-height: var(--mixin-PUy55YliBECbR_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-8N2SwqRaI6YIt_color);
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset :global(.__wab_expr_html_text) li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset :global(.__wab_expr_html_text) p),
:where(.root_reset.plasmic_default__p) {
}
